<div class="bg-choiz">
  <div>
    <img src="./assets/Ellipse 34.svg" class="ellipse" />
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="./assets/Choiz.png" alt="" />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Tratamientos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Consulta online</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quiénes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Preguntas frecuentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1">¿Tenés dudas?</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <h1>Cuidarte siempre te cuesta menos con Choiz</h1>
  </div>
</div>
